.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px 0;
  &__price {
    font-size: 2rem;
    color: rgb(42, 130, 245);
    font-weight: 700;
  }
  &__header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    height: 50px;
  }
  &__info {
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-direction: column;
  }
  &__info-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  &__info-piece {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
}

.info-col {
  border: 1px solid green;
  margin: 15px 0;
  width: 27%;
}
